/* Base.css */
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f8f9f2;
    --border-color: #dbdbdb;
    --background-color: #f1f6fb;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

html {
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;


}

/* Table */


/* Base styles for table */
.table {
    margin: 5px 0;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* Corrected rbga to rgba */
}

.table thead tr {
    color: var(--text-color);
    font-weight: bold;
    text-align: left;
}

.table tbody tr:nth-of-type(odd) {
    background-color: #000;
    /* Black for odd rows */
}

.table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
    /* Light grey for even rows */
}

.table thead tr th {
    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
    text-align: center;
}

.table th,
.table td {
    padding: 10px 15px;
}

.table tbody {
    font-size: 0.9rem;
}

.table tbody tr td {
    border: 2px solid var(--border-color);
    text-align: center;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color);
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}








/* button */

.button-group {
    display: flex;

}

.button-form {
    background-color: #d9d9d9;
    min-width: 100px;
    height: 34px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    margin: 0 16px;
}

.button-form:active {
    background-color: (--primary-color);
    color: var(--white-color);
}

.button-form[disabled=disabled], .button-form:disabled {
    cursor: not-allowed;
}

.button-form:hover {
    background-color: #c0c0c0;
    text-decoration: none;
}

.button-form.button-form--success {
    background-color: #ACECAB;
}

.button-form.button-form--danger {
    background-color: #F3A0A0;
}

.button-form.button-form--primary {
    background-color: #B0CDFA;
}

.button-form.button-form--warning {
    background-color: #FAD3B0;
}

/*--------------------------*/
/* NavLink */
.breadcrumb__group {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 100;
}

.breadcrumb-link {
    cursor: pointer;
    margin: 0 2px;
    font-weight: 600;
    text-decoration: underline;
}

.breadcrumb-link__active {}